.container{
    width: 1170px;
    margin: auto;

}
img{
    width: 100%;
}

.bgc{
    background-color: #FFF4E7;
}
#copydiscrip{
    height: 50px;
    text-align: center;
    font-size: 15px;
    padding: 10px;
  
}
.sponser img {
    width: auto;
}
.sponser{
    display: flex;
    

}
div#navbar ul li {
    list-style: none;
    display: inline;
    padding: 10px;
}

div#navbar ul li a {
    text-decoration: none;
    color: black;
}
.con_descrip {
    background: #fff4e7;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.con_descrip>p {
    width: 500px;
}

button {}

.con_descrip>button {
    background: orange;
    border: 1px solid orange;
    padding: 10px;
    font-size: 13px;
    color: white;
    border-radius: 10px;
}

.menu {
    display: inline-block;
}

div#navbar {margin-left: 700px;}
